node_modules/
dist/
./frames/
yarn-error.log
*.tsbuildinfo

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
video.mp4
video.pcap.mp4
frames
audio.pcap.opus
packages/gamestreaming_backup
